/* General Styles */
body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para el receso */
.receso {
    background-color: #e0e0e0;
    font-weight: bold;
}

/* Colores para cada asignatura */
.BADAT {
    background-color: #ffcccb;
}

.LMSGI {
    background-color: #add8e6;
}

.ENDES {
    background-color: #90ee90;
}

.PROGR {
    background-color: #ffd700;
}

.DASPGS {
    background-color: #dda0dd;
}

.IPE1 {
    background-color: #ffb6c1;
}

.SOST {
    background-color: #87cefa;
}

.SIINF {
    background-color: #ffa07a;
}


